body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
}

h2 {
    color: #333;
    font-weight: bold;
    text-align: center;
}

.list-group-item {
    margin-bottom: 10px;
}

.notification {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #d0fdd7;
}
